typex/src/main/xsd/TXM_AddressTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.iata.org/txm/types" xmlns:txmt="http://www.iata.org/txm/types" targetNamespace="http://www.iata.org/txm/types" elementFormDefault="unqualified" version="1.000" id="TXM2009A0">
	<xs:include schemaLocation="TXM_SimpleTypes.xsd"/>
	<xs:annotation>
		<xs:documentation xml:lang="en">Definition of all address types used in TypeX</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="AllowedAddressType">
		<xs:annotation>
			<xs:documentation xml:lang="en"> List of allowed sub-address types</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="SMTP_Address"/>
			<xs:enumeration value="X400_Address"/>
			<xs:enumeration value="SMS_Address"/>
			<xs:enumeration value="FAX_Address"/>
			<xs:enumeration value="Telex_Address"/>
			<xs:enumeration value="URI_Address"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="TXM_TYPEXAddressType">
		<xs:annotation>
			<xs:documentation xml:lang="en"> Definition of the TYPE X address type. The rule for interpreting a TypeX address is as follows:
1.	If the Auxiliary field is null, then this a TypeB style address, in the sense that the airline code is treated as such. The Department Code must be provided.
2.	Otherwise, if the Auxiliary field is not null, then:
•	 a shared code must be provided in the Airline Code,
•	the Auxiliary field must contain the code of the organization ,
•	the Department Code may be provided to specify an entity within the organization.
In all cases, the City code must provided.
</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Airline" type="txmt:AlphaNumericStringLength2to3">
				<xs:annotation>
					<xs:documentation>The IATA assigned airline code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="City" type="txmt:AlphaLength3to4">
				<xs:annotation>
					<xs:documentation>Identifies the IATA or ICAO 3 to 4 alphabetic location code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Department" type="txmt:AlphaNumericStringLength1to3" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifies a  department code (1 to 3 alphanumeric chars); An extension of Airline and City, used if necessary to provide department address information.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Auxiliary" type="txmt:AlphaNumericStringLength1to3" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifies an organization using a shared airline IATA code.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TXM_X400AddressType">
		<xs:annotation>
			<xs:documentation>X400 address definition</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CountryCode" type="AlphaLength2">
				<xs:annotation>
					<xs:documentation>Identifies the ITU 2 alphabetic character country code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ADMD">
				<xs:annotation>
					<xs:documentation>Administrative Management Domain name.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PRMD" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Private Management Domain name for inhouse email.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Organization" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifies the organization that is associated with the X400AddressType.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OrganizationUnit1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifies the OrganizationUnit1 that is associated with the X400AddressType.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OrganizationUnit2" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifies the OrganizationUnit2 that is associated with the X400AddressType.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OrganizationUnit3" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifies the OrganizationUnit3 that is associated with the X400AddressType.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OrganizationUnit4" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifies the OrganizationUnit4 that is associated with the X400AddressType.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CommonName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifies the company that is associated with the X400AddressType.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DomainDefinedAttribute" minOccurs="0" maxOccurs="4">
				<xs:annotation>
					<xs:documentation>Domain specific attributes</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Type">
							<xs:annotation>
								<xs:documentation>Detailed DomainDefinedAttribute Type.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="8"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Value">
							<xs:annotation>
								<xs:documentation>Detailed DomainDefinedAttribute Value.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="128"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PersonalName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of a person.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Surname">
							<xs:annotation>
								<xs:documentation>Family name, last name.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="40"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="GivenName" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Given name, first name or names </xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="16"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Initial" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Middle initial used as an extention of PersonalName.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="5"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="GenerationQualifier" minOccurs="0">
							<xs:annotation>
								<xs:documentation>An extention of PersonalName for various name suffixes and letters (e.g. Jr., Sr., III, Ret., Esq.).</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="3"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TXM_SMSAddressType">
		<xs:annotation>
			<xs:documentation>SMS address definition</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Number" type="txmt:NumericStringLength1to15"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TXM_TELEXAddressType">
		<xs:annotation>
			<xs:documentation>ITU TELEX address definition</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Address" type="txmt:AlphaNumericStringLength32">
				<xs:annotation>
					<xs:documentation>TELEX address</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TXM_FAXAddressType">
		<xs:annotation>
			<xs:documentation>FAX address definition</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Number" type="txmt:NumericStringLength1to15"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TXM_SMTPAddressType">
		<xs:annotation>
			<xs:documentation>SMTP address definition</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Address">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="256"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TXM_AddressType">
		<xs:annotation>
			<xs:documentation>Base Address structure used in TypeX messaging.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TYPEX_Address" type="txmt:TXM_TYPEXAddressType">
				<xs:annotation>
					<xs:documentation>Logical address of a TypeX participating node.
The rule for interpreting a TypeX address is as follows:
1.	If the Auxiliary field is null, then this a TypeB style address, in the sense that the airline code is treated as such. The Department Code must be provided.
2.	Otherwise, if the Auxiliary field is not null, then:
•	 a shared code must be provided in the Airline Code,
•	the Auxiliary field must contain the code of the organization ,
•	the Department Code may be provided to specify an entity within the organization.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubAddress" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This address is necessary if the participant has not been assigned a TypeX address. In this case, the TypeX address will be that of a gateway.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:choice>
							<xs:element name="X400_Address" type="txmt:TXM_X400AddressType">
								<xs:annotation>
									<xs:documentation>X400_Address definition.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="SMS_Address" type="txmt:TXM_SMSAddressType">
								<xs:annotation>
									<xs:documentation>Mobile phone number to which the SMS (Short Message Service) should be delivered.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="SMTP_Address" type="txmt:TXM_SMTPAddressType">
								<xs:annotation>
									<xs:documentation>SMTP (Simple Mail Transfer Protocol) address.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="FAX_Address" type="txmt:TXM_FAXAddressType">
								<xs:annotation>
									<xs:documentation>A telephone number used to send a document or image electronically using a facsimile machine.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="TELEX_Address" type="txmt:TXM_TELEXAddressType">
								<xs:annotation>
									<xs:documentation>Teletype (TTY) address.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="URI_Address" type="xs:anyURI">
								<xs:annotation>
									<xs:documentation>Any address compatible with the URI addressing scheme.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:choice>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FreeFormName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name associated with the TypeX Address as a freely formatted string.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
